@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    position:fixed;
    top:25px;
    left:50%;
    transform:translateX(-50%);

    width:min(90%, 850px);
    height:50px;

    padding:0 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    border-radius:50px;

    position:fixed;
    z-index:1000;

    /* BACKGROUND IMAGE */
    background-image:url("../Images/navbar-bg-img.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    /* DARK OVERLAY */
    overflow:hidden;

    border:1px solid rgba(255,255,255,0.08);

    box-shadow:0 10px 30px rgba(0,0,0,0.35);
}

/* DARK LAYER */
.navbar::before{
    content:"";
    position:absolute;
    inset:0;

    z-index:0;
}

/* CONTENT ABOVE LAYER */
.navbar > *{
    position:relative;
    z-index:1;
}

/* GLASS EFFECT (optional but looks good) */
.navbar{
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
}

.logo{
    color:#fff;
    font-size:1.5rem;
    font-weight:700;
}

.logo span{
    color:#ff3d3d;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:0.95rem;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#ff3d3d;
}

.nav-links a.active{
    color:#ff3d3d;
}

.menu-btn{
    display:none;
    color:white;
    font-size:1.4rem;
    cursor:pointer;
}

@media (max-width:768px){

    .navbar{
        width:95%;
        padding:0 20px;
    }

    .menu-btn{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:85px;
        left:0;

        width:100%;

        flex-direction:column;
        align-items:center;

        padding:25px 0;

        background:rgba(15,15,15,0.95);

        backdrop-filter:blur(15px);

        border-radius:25px;

        opacity:0;
        visibility:hidden;
        transform:translateY(-20px);

        transition:.4s ease;
    }

    .nav-links.active{
        opacity:1;
        visibility:visible;
        transform:translateY(0);
    }
}